 
.customFlow {
  padding-bottom: 60px;
  /deep/ .el-collapse-item {
    border-radius: 4px;
    margin: 16px;
    overflow: hidden;
    box-shadow: 0px 1px 8px #d5dfe8 !important;
  }
  /deep/ .avue-group .el-collapse-item {
    border-radius: 4px;
    margin: 16px;
    overflow: hidden;
    box-shadow: none !important;
  }

  /deep/ .baseInfoCollapseItem .el-collapse-item__content {
    padding-bottom: 5px !important;
  }
  /deep/ .avue-group .el-form-item {
    margin-right: 0;
  }
  .collapseItemTitle {
    height: 48px;
    color: #000000 !important;
    line-height: 48px;
    font-size: 18px !important;
    font-weight: 600;
  }
  .collapseItemTitle::before {
    width: 4px;
    height: 16px;
    background: #0c7bca;
  }
  /deep/ .el-collapse-item__header {
    height: 45px;
    line-height: 45px;
    padding-left: 30px;
    font-size: 18px !important;
    font-weight: 600;
    color: #000000;
  }
  /deep/ .el-collapse-item__header::before {
    width: 4px;
    height: 16px;
    background: #0c7bca;
    margin-left: 15px;
    margin-top: 15px;
  }
  /deep/ .el-form-item__label {
    font-size: 14px;
    color: #2a2a2a;
    text-align: left;
    font-weight: 400;
    margin: 0;
  }
  /deep/ [class*="el-col-"] {
    padding: 0 10px;
  }
  /deep/ .cud-light .el-input .el-input__inner,
  .cud-light .el-input.is-disabled .el-input__inner,
  .cud-light .el-textarea .el-textarea__inner {
    border: 1px solid #ebebeb !important;
    border-radius: 5px;
  }
  /deep/ .avue-form__group--flex {
    padding: 10px 0;
  }
  /deep/ #examine-tool {
    width: 100%;
    text-align: right;
    z-index: 9;
  }
  /deep/ .el-input__inner {
    border: 1px solid #ebebeb !important;
  }
  /deep/ .table-body {
    padding: 5.5px 15.5px 0;
  }
  /deep/ .el-collapse-item__content {
    line-height: 1.5 !important;
  }
  /deep/ .el-collapse {
    border: 1px solid transparent;
  }
}
/deep/ .el-form-item {
  padding: 5.5px !important;
}
/deep/ .el-form--label-top .el-form-item__label {
  float: none;
  display: inline-block;
  text-align: left;
  padding: 0;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 10px;
}
